<div id="navigation-bar">
			<a id="logo-section" href="/">
				<img id="logo" src="assets/images/logo.png">
				<div id="logo-text">BeeHome</div>
			</a>
			<div id="nav-sign-in-button"><a href="/sign-in">Sign In</a></div>
</div>