html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	background-color: #FAF9F8;
}
a {
	text-decoration: none;
}
.container {
	position: relative;
	width: 100%;
	height: calc(100% - 75px);
	margin-top: 75px;
}
#navigation-bar {
	z-index: 10;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	height: 75px;
	top: 0px;
	background-color: white;
	-webkit-box-shadow: 0px 17px 59px -26px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 17px 59px -26px rgba(0,0,0,0.68);
    box-shadow: 0px 17px 59px -26px rgba(0,0,0,0.68);
}
#logo-section {
	position: absolute;
    height: 60px;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
}
#logo {
	float:left;
	position: relative;
	height: 50px;
	display: inline-block;
}
#logo-text {
	margin-left: 10px;
	float:left;
	line-height: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
	color: #1e415f;
}
#nav-sign-in-button {
	background-color: #1e415f;
	color: white;
	text-transform: uppercase;
	width: 115px;
	height: 40px;
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	text-align: center;
	margin-right: 40px;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
}
#nav-sign-in-button a {
	color: white !important;
}
#step-bar {
	position: relative;
	display: block;
	text-align: center;
	padding: 20px 10px 10px 20px;
	color: #1e415f;
}
.step {
	position: relative;
	display: inline-block;
	margin: 10px 20px 10px 20px;
}
.step.active {
	font-weight: bold;
	border-bottom: solid 3px #1e415f;
}