html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	color: #1e415f;
}
input {
	color: #1e415f;
	font-size: 14px;
}
input:focus {
	outline: none;
}
input::-webkit-input-placeholder {
	color: #1e415f;
	font-size: 14px;
}
input[type="text"], input[type="password"] {
	border-radius: 5px;
	border: solid 2px #1e415f;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
h2, p {
	margin: 0px ;
}
a {
	text-decoration: none;
}

#navigation-bar {
	z-index: 10;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	height: 75px;
	top: 0px;
	background-color: white;
	-webkit-box-shadow: 0px 17px 59px -26px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 17px 59px -26px rgba(0,0,0,0.68);
    box-shadow: 0px 17px 59px -26px rgba(0,0,0,0.68);
}
#logo-section {
	position: absolute;
    height: 60px;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px;
    color: black;
}
#logo {
	float:left;
	position: relative;
	height: 50px;
	display: inline-block;
}
#logo-text {
	margin-left: 10px;
	float:left;
	line-height: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
	color: #1e415f;
}
#sign-up-button {
	background-color: #1e415f;
	color: white;
	text-transform: uppercase;
	width: 115px;
	height: 40px;
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	text-align: center;
	margin-right: 40px;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
}
#sign-up-button a {
	color: white !important;
}
#sign-in-container {
	position: absolute;
	top: 75px;
	width: 100%;
	height: calc(100% - 75px);
}
#sign-in-content {
	position: relative;
	width: 40%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
}
#sign-in-content input[type="text"], #sign-in-content input[type="password"] {
	display: block;
	position: relative;
	height: 50px;
	width: 100%;
	margin-top: 25px;
}
#forgot {
	text-decoration: none;
	font-size: 12px;
	text-align: left;
	position: relative;
	display: block;
	margin-top: 10px;
	color: #1e415f;
	transition: 0.3s;
}
a:visited {
	color: #F47E54;
	transition: 0.3s;
}
#forgot:hover {
	color: #F47E54;
}
#sign-in-button {
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	width: 200px !important;
	height: 40px !important;
	background: #F47E54;
	color: white;
	text-transform: white;
	font-size: 16px;
/*	line-height: 40px;*/
	text-align: center;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	border: none !important;
	display: block;
}
#remember-me-row label{
	display: inline-block;
	position: relative;
	font-size: 12px;
}
#remember-me-row input{
	display: inline-block;
	position: relative;
}
#remember-me-row {
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}
#sign-in-content p {
	display: inline-block;
	text-align: center;
}
#get-started {
	margin-top: 20px;
	text-align: center;
}
