<html>
	<head>
	<title>BeeHome - Post Home</title>
	<link rel="shortcut icon" type="image/png" href="/assets/images/logo.png"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- <script src="assets/javascript/home.js"></script> -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	</head>
	<body style="margin: 0">
		<a href="/dashboard"><img src="/assets/images/confirmation.png"></img></a>
  </body>
</html>
