<html>
	<head>
	<title>BeeHome</title>
	<link rel="shortcut icon" type="image/png" href="assets/images/logo.png"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="assets/javascript/home.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	</head>
	<body>
		<% include ../partials/header %>
		<div id="home-container">
			<div id="home-photo-container">
				<img  id="home-photo" src="assets/images/home_info.png">
				<div id="home-photo-content">
					<div id="home-photo-text">
						<h2 class="photo-header-text"> Affordable housing. </h2>
						<h2 class="photo-header-text"> Help around the house. </h2>
						<p class="photo-subtitle-text"> These belong together. </p>
					</div>
					<div id="home-photo-button">Get Started</div>
				</div>
			</div>
			<div id="quote-container">
				<div id="quote-content">
					<h1> We are here to help </h1> <br>
					Renters gain affordable rent by doing work around the house for homeowners that finf household tasks have become burdensome.
				</div>
			</div>
			<div id="info-box-container">
				<div class="info-box">
					<img src="assets/images/box1.png" class="info-image">
					<div class="info-text"> <b>Perfect Match</b> <br>
						We connect homeowners with home seekers who can do house chores in exchange for affordable rent.
					</div>
				</div>
				<div class="info-box">
					<img src="assets/images/box2.png" class="info-image">
					<div class="info-text"> <b>Safe and Secure</b> <br>
						We run background checks for all applicants to find the tenants that can be trusted.
					</div>
				</div>
				<div class="info-box">
					<img src="assets/images/box3.png" class="info-image">
					<div class="info-text left"><b> Monthly Check-In </b> <br>
						We touch base regularly to make sure everything goes well.
					</div>
				</div>
			</div>
			<div id="how-it-works">
				<div id="how-it-works-left">
					<h2 style="margin-bottom: 10px;"> How It Works </h2>
					<div class="form-group" id="landlord">
						<div class="radio active" id="landlord"></div>
						I am renting out a room
					</div>
					<div class="form-group" id="tenant">
						<div class="radio" id="tenant"></div>
						I am looking for a room
					</div>
				</div>
				<div id="about-section">
					<div class="about-row">
						<img class="about-icon" src="assets/images/icon1.png">
						<p class="about-text" id="1">
							<b>Fill out your preferences</b> <br>
							List the tasks you need help with, plus other preferences for a tenant.
						</p>
						<h2 class="about-number">1</h2>
					</div>
					<div class="about-row">
						<img class="about-icon" src="assets/images/icon2.png">
						<p class="about-text" id="2">
							<b>List your home</b> <br>
							Give tenants the information they need to know your house is right for them.
						</p>
						<h2 class="about-number">2</h2>
					</div>
					<div class="about-row">
						<img class="about-icon" src="assets/images/icon3.png">
						<p class="about-text" id="3">
							<b>Talk to Candidates</b> <br>
							Contact candidates if you need to ask them any additional questions.
						</p>
						<h2 class="about-number">3</h2>
					</div>
					<div class="about-row">
						<img class="about-icon" src="assets/images/icon4.png">
						<p class="about-text" id="4">
							<b>Review and select applicants</b> <br>
							Look over applications, and select the best one. We will suggest the best matches for you.
						</p>
						<h2 class="about-number">4</h2>
					</div>
					<div class="about-row">
						<img class="about-icon" src="assets/images/icon5.png">
						<p class="about-text" id="5">
							<b>Sign the lease</b> <br>
							Once you have made a decision, we create the lease for you. No worrying about the legalese.
						</p>
						<h2 class="about-number">5</h2>
					</div>
					<div class="about-row">
						<img class="about-icon" src="assets/images/icon6.png">
						<p class="about-text" id="6">
							<b>Monthly check-in</b> <br>
							Our commitment to your good relationship does not end at move-in day. We check in to make sure everything goes as expected.
						</p>
						<h2 class="about-number">6</h2>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>