<html>
	<head>
		<title>BeeHome - Post Home</title>
		<link rel="shortcut icon" type="image/png" href="/assets/images/logo.png"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<link rel="stylesheet" type="text/css" href="/assets/css/application.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/individual-message.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	  	<script src="/assets/javascript/individual-message.js"></script>
	</head>
	<body>
		<% include ../partials/logged-in-header %>
		<div id="individual-message-container" class="container">
			<div class="content-box" id="individual-message-content"> </div>
		</div>
	</body>
</html>