<html>
	<head>
		<title>BeeHome</title>
		<link rel="shortcut icon" type="image/png" href="/assets/images/logo.png"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/application.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	</head>
	<body>
		<% include ../partials/header %>
		<div id="task-container" class="container">
			<% include ../partials/step-bar %>
		</div>
	</body>
</html>