<html>
	<head>
		<title>BeeHome</title>
		<link rel="shortcut icon" type="image/png" href="assets/images/logo.png"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="assets/javascript/sign_in.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/sign_in.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	</head>
	<body>
		<div id="navigation-bar">
			<a id="logo-section" href="/home.html">
				<img id="logo" src="assets/images/logo.png">
				<div id="logo-text">BeeHome</div>
			</a>
			<div id="sign-up-button"><a href="/sign-in">Sign In</a></div>
		</div>
		<div id="sign-in-container">
		</div>
	</body>
</html>