<html>
	<head>
		<title>BeeHome</title>
		<link rel="shortcut icon" type="image/png" href="assets/images/logo.png"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="assets/javascript/sign_in.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/sign_in.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	</head>
	<body>
		<div id="navigation-bar">
			<a id="logo-section" href="/">
				<img id="logo" src="assets/images/logo.png">
				<div id="logo-text">BeeHome</div>
			</a>
			<div id="sign-up-button"><a href="/sign-in">Sign In</a></div>
		</div>
		<div id="sign-in-container">
			<div id="sign-in-content">
				<h2> Sign In </h2>
				<form action="/dashboard" id="sign-in-form">
					<input type="text" id="email" placeholder="E-Mail address">
					<input type="password" id="password" placeholder="Password">
					<a id="forgot" href="/forgot-password">Forgot Password?</a>
					<div id="show-password">Show Password</div>
					<input type="submit" id="sign-in-button" value="Sign In">
					<div id="remember-me-row">
						<input type="checkbox" id="remember-me">
						<label for="remember-me">Keep me signed in</label>
					</div>
				</form>
				<div id="get-started">
					<p style="color: black;"> Don't have an account? </p> <a href="/sign-up" style="font-weight: bold; color: #1e415f;"> Get Started </a>
				</div>
			</div>
		</div>
	</body>
</html>